.info-page {
    margin-top: 128px;
    display: flex;
    flex-direction: row;
}

.info-page__aside {
    width: 406px;
    img {
        width: 406px;
        height: 529px;
    }
}

.info-page__text {
    margin-left: 64px;

    h1 {
        line-height: 46px;
        color: #ffffff;
        font-size: 46px;
        font-weight: 600;
        margin-bottom: 138px;
    }

    h3 {
        color: #9d9d9d;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 14px;
    }

    p {
        line-height: 34px;
        color: #ffffff;
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 34px;
    }

    table {
        margin-top: 128px;
        th {
            color: #9d9d9d;
            font-size: 14px;
            font-weight: 400;
            text-align: left;
        }
        td {
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
        }
    }
}

.info-page__contact-me {
    width: 430px;
    margin-top: 128px;
    margin-bottom: 124px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
