.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        font-size: 20px;
        line-height: 1;
        font-weight: 400;
        padding-bottom: 16px;
    }

    ul {
        list-style: none;
        li {
            font-size: 20px;
            padding-bottom: 6px;
            a {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
}
