.contact-page {
    margin-top: 128px;

    h3 {
        color: #9d9d9d;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 14px;
    }

    p {
        color: #ffffff;
        font-size: 56px;
        line-height: 56px;
        font-weight: 400;
        margin-bottom: 64px;
    }
}
